#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}

input {
    background: grey
}

.travel_1 {
    border: 1px solid #C7C7C7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;

}

.travel_1 img {
    width: 100%;

}

.travel_1 hr {
    width: 230px;

}

.travel_1 h5,
.travel_1 p {
    margin-left: 20px;

}
.environment_li h4{
    border-bottom: 1px solid white;
    padding: 8px;
    
}
.environment_li{
    margin-top: 13px;
    
}
.book{
    cursor: pointer;
    
}
.book hr{
    margin-bottom: 10px;
    
}
.img_modal{
    display: inline-block;
}
.p_modal{
    margin-top: 10px;    
}
.modal-content{
    margin-top: 100px;
    
}
.modal-body{
    text-align: center;
    
}